.MuiDataGrid-row.Mui-selected {
    background-color: transparent !important; 
}
  
.MuiDataGrid-row:hover {
    background-color: transparent !important; 
}

.MuiDataGrid-cell:focus {
  outline: none !important;
}

.MuiDataGrid-cell:focus-within {
  outline: none !important;
}
  
.selected-row {
    font-weight: bold;
    background-color: transparent !important; 
}